<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="1. {{nombre1}}">
    <ng-template ngbPanelContent>
      <app-tablasentirtodo></app-tablasentirtodo>

    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>2. {{nombre2}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-pillescuchartodooye></app-pillescuchartodooye>
    </ng-template>
  </ngb-panel>

  <ngb-panel id="static-3">
    <ng-template ngbPanelTitle>
      <span>3. {{nombre3}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-pillactivardistintosentidos></app-pillactivardistintosentidos>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-4">
    <ng-template ngbPanelTitle>
      <span> 4. {{nombre4}} </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-pillsvertodoloquesemira></app-pillsvertodoloquesemira>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-5">
    <ng-template ngbPanelTitle>
      <span> 5. {{nombre5}} </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-pillstablamemoriasentidos></app-pillstablamemoriasentidos>
    </ng-template>
  </ngb-panel>
