<h1  class="text-justify"> <strong>Título:</strong> La Investigación en perspectiva compleja que privilegia Aprendizajes Personales y Colectivos: Alternativas y posibilidades en Educación No Formal</h1>
<ngb-tabset justify="fill">
  <ngb-tab title="Antecedentes">
    <ng-template ngbTabContent>
      <app-antecedentes></app-antecedentes>
    </ng-template>
  </ngb-tab>
    <ngb-tab title="Problema y justificación">
      <ng-template ngbTabContent>
        <app-problema></app-problema>
      </ng-template>
    </ngb-tab>
  <ngb-tab title="Marco teórico">
    <ng-template ngbTabContent>
      <app-marcoteorico></app-marcoteorico>
    </ng-template>
  </ngb-tab>
  
</ngb-tabset>