<h1 class="text-justify">{{subtitulo}}</h1>
  <p class="text-justify"> {{parrafop1}} <em>{{parrafop2}}</em> {{parrafop3}} </p>
  <p class="text-justify"> {{parrafo2}} </p>
  <p class="text-justify"> {{parrafo3}} </p>
  <p class="text-justify"> {{parrafo4}} </p>
  <p class="text-justify"> {{parrafo5p1}} <em>{{parrafo5p2}}</em> {{parrafo5p3}} </p>
  <p class="text-justify"> {{parrafo6p1}} <em>{{parrafo6p2}}</em> {{parrafo6p3}} <em>{{parrafo6p4}}</em> {{parrafo6p5}} <em>{{parrafo6p6}}</em> {{parrafo6p7}} </p>

  <h1 class="text-justify">{{subtitulo2}}</h1>
  <p class="text-justify"> {{parrafo7}} </p>
  <p class="text-justify"> {{parrafo8p1}} <em>{{parrafo8p2}}</em> </p>
  <p class="text-justify"> {{parrafo9}} </p>
  <p class="text-justify"> {{parrafo10}} </p>
  <p class="text-justify"> {{parrafo11}} </p>
  <p class="text-justify"> {{parrafo12}} </p>
  <p class="text-justify"> {{parrafo13}} </p>
  <p class="text-justify"> {{parrafo14}} </p>
  <p class="text-justify"> {{parrafo15}} </p>

  <h1 class="text-justify">{{subtitulo3}}</h1>
  <p class="text-justify"> {{parrafo16}} </p>
  <p class="text-justify"> {{parrafo17}} </p>
  <p class="text-justify"> {{parrafo18}} </p>

  <h1 class="text-justify">{{subtitulo4}}</h1>
  <p class="text-justify"> {{parrafo19p1}} <em>{{parrafo19p2}}</em> {{parrafo19p3}}</p>
  <p class="text-justify"> {{parrafo20}} </p>

  <h1 class="text-justify">{{subtitulo5}}</h1>
  <p class="text-justify"> {{parrafo21}} </p>
  <p class="text-justify"> {{parrafo22}} </p>
  <p class="text-justify"> {{parrafo23}} </p>
  <p class="text-justify"> {{parrafo24}} </p>
  <p class="text-justify"> {{parrafo25}} </p>

  <h1 class="text-justify">{{subtitulo6}}</h1>
  <p class="text-justify"> {{parrafo26}} </p>
  <p class="text-justify"> {{parrafo27}} </p>
  <p class="text-justify"> {{parrafo28p1}} <em>{{parrafo28p2}}</em> {{parrafo28p3}} <em>{{parrafo28p4}}</em> {{parrafo28p5}}</p>
  <p class="text-justify"> {{parrafo29}} </p>
  <p class="text-justify"> {{parrafo30}} </p>
  <p class="text-justify"> {{parrafo31}} </p>
  <p class="text-justify"> {{parrafo32}} </p>
  <p class="text-justify"> {{parrafo33}} </p>
<ul class = "reflexiones">
  <li><p class="text-justify"> {{parrafo34li}} </p></li>
  <li><p class="text-justify"> {{parrafo35li}} </p></li>
  <li><p class="text-justify"> {{parrafo36li}} </p></li>
  
  
  
</ul >

  <p class="text-justify"> {{parrafo37}} </p>
  <p class="text-justify"> {{parrafo38}} </p>
  <p class="text-justify"> {{parrafo39}} </p>
  <p class="text-justify"> {{parrafo40p1}} <em>{{parrafo40p2}}</em> {{parrafo40p3}} </p>

  <h1 class="text-justify">{{subtitulo7}}</h1>
  <p class="text-justify"> {{parrafo41}} </p>
  <p class="text-justify"> {{parrafo42}} </p>
  <p class="text-justify"> {{parrafo43}} </p>
  <p class="text-justify"> {{parrafo44}} </p>
  <p class="text-justify"> {{parrafo45}} </p>
  <p class="text-justify"> {{parrafo46}} </p>
  <p class="text-justify"> {{parrafo47}} </p>
  <p class="text-justify"> {{parrafo48}} </p>
  <p class="text-justify"> {{parrafo49}} </p>
  <p class="text-justify"> {{parrafo50}} </p>
  <p class="text-justify"> {{parrafo51}} </p>
  <p class="text-justify"> {{parrafo52}} </p>