<ngb-tabset justify="fill">
  <ngb-tab title="{{subnombre1}}">
    <ng-template ngbTabContent>
      <app-tablasentirtodoejerciciosgenerales></app-tablasentirtodoejerciciosgenerales>


    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre2}} </ng-template>
    <ng-template ngbTabContent>
      
      <app-tablasentirtodocaminatas></app-tablasentirtodocaminatas>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre3}} </ng-template>
    <ng-template ngbTabContent>
        <app-tablasentirtodomasajes></app-tablasentirtodomasajes>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre4}} </ng-template>
    <ng-template ngbTabContent>
      <app-tablasentirtodojuegosintegracion></app-tablasentirtodojuegosintegracion>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre5}} </ng-template>
    <ng-template ngbTabContent>
        <app-tablasentirtodogravedad></app-tablasentirtodogravedad>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
