<ngb-tabset type="pills" class="nav-fill">
    <ngb-tab>
        <ng-template ngbTabTitle><b>Modos</b> </ng-template>
        <ng-template ngbTabContent>
          <app-tablamodo></app-tablamodo>
        </ng-template>
      </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Caldeamientos</b> </ng-template>
      <ng-template ngbTabContent>
        <app-tablacaldeamiento></app-tablacaldeamiento>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Temas</b></ng-template>
      <ng-template ngbTabContent>
        <app-tablatemas></app-tablatemas>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Ambos</b> </ng-template>
      <ng-template ngbTabContent>
        <app-tablambos></app-tablambos>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Ejercicios relacionados</b> </ng-template>
      <ng-template ngbTabContent>
        <app-tablarelacionados></app-tablarelacionados>
      </ng-template>
    </ngb-tab>
    
  </ngb-tabset>