

<ngb-tabset justify="fill">
  <ngb-tab title="{{subnombre1}}">
    <ng-template ngbTabContent>
      
      <app-tablasecuenciaespejo></app-tablasecuenciaespejo>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre2}} </ng-template>
    <ng-template ngbTabContent>
      
      <app-tablasecuenciamodelado></app-tablasecuenciamodelado>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre3}} </ng-template>
    <ng-template ngbTabContent>
        <app-tablasecuenciaimageneslenguajes></app-tablasecuenciaimageneslenguajes>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre4}} </ng-template>
    <ng-template ngbTabContent>
      <app-tablasecuenciajuegosmascarasrituales></app-tablasecuenciajuegosmascarasrituales>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre5}} </ng-template>
    <ng-template ngbTabContent>
        <app-tablasecuenciainvencionespacioestructur></app-tablasecuenciainvencionespacioestructur>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre6}} </ng-template>
    <ng-template ngbTabContent>
      <app-tablasjuegosextravertidos></app-tablasjuegosextravertidos>
    </ng-template>
  </ngb-tab>
  

</ngb-tabset>