<p class="text-justify"> {{parrafo}} </p>

<h3 class="text-center"> {{subtitulo}} </h3>
<p>
  <video src="{{video}}" controls controlslist="nodownload">
  Tu navegador no implementa el elemento <code>video</code>.
</video>
</p>

<h3 class="text-center"> {{subtitulo2}} </h3>
<p class="text-justify">
<video src="{{video2}}" controls controlslist="nodownload">
  Tu navegador no implementa el elemento <code>video</code>.
</video>
</p>

<h3 class="text-center"> {{subtitulo3}} </h3>
<p class="text-justify">
<video src="{{video3}}" controls controlslist="nodownload">
  Tu navegador no implementa el elemento <code>video</code>.
</video>
</p>

<h3 class="text-center"> {{subtitulo4}} </h3>
<p class="text-justify">
<video src="{{video4}}" controls controlslist="nodownload">
  Tu navegador no implementa el elemento <code>video</code>.
</video>
</p>

<h3 class="text-center"> {{subtitulo5}} </h3>
<p class="text-justify">
<video src="{{video5}}" controls controlslist="nodownload">
  Tu navegador no implementa el elemento <code>video</code>.
</video>
</p>

<h3 class="text-center"> {{subtitulo6}} </h3>
<p class="text-justify">
<video src="{{video6}}" controls controlslist="nodownload">
  Tu navegador no implementa el elemento <code>video</code>.
</video>
</p>

<h3 class="text-center"> {{subtitulo7}} </h3>
<p class="text-justify">
<video src="{{video7}}" controls controlslist="nodownload">
  Tu navegador no implementa el elemento <code>video</code>.
</video>
</p>
