<div class="container">
  <h1 class="text-justify">{{titulo}}</h1>
  <p class="text-justify"> {{parrafo}} </p>
  <p class="text-justify"> {{parrafo2}} </p>
  <p class="text-justify"> {{parrafo3}} </p>
  <p class="text-justify"> {{parrafo4}} </p>
  <p class="text-justify"> {{parrafo5}} </p>
  <p class="text-justify"> {{parrafo6}} </p>
  

  <section class="d-flex justify-content-center">
    <blockquote class="blockquote text-center">
      <img src="{{imagen}}" class="img-fluid" id= "recuadro" alt="Responsive image">
    <footer class="blockquote-footer">Fuente: <cite title="Source Title">{{fuente}}</cite></footer>
    </blockquote>
  </section>

  <p class="text-justify"> {{parrafo7}} </p>
  <p class="text-justify"> {{parrafo8}} </p>
  <p class="text-justify"> {{parrafo9}} </p>
  <p class="text-justify"> {{parrafo10}} </p>
  

  <section class="d-flex justify-content-center">
    <blockquote class="blockquote text-center">
      <img src="{{imagen2}}" class="img-fluid" id= "recuadro" alt="Responsive image">
    <footer class="blockquote-footer">Fuente: <cite title="Source Title">{{fuente2p1}} <a href="{{enlace}}" target=”_blank”>{{fuente2p2}}</a>{{fuente2p3}}</cite></footer>
    </blockquote>
  </section>

  <p class="text-justify"> {{parrafo11}} </p>
  <p class="text-justify"> {{parrafo12}} </p>
  <p class="text-justify"> {{parrafo13}} </p>
  <p class="text-justify"> {{parrafo14}} </p>
  <p class="text-justify"> {{parrafo15}} </p>
  <p class="text-justify"> {{parrafo16}} </p>
  <p class="text-justify"> {{parrafo17}} </p>
</div>