<div class="container">
  <h1 class="text-justify">{{titulo}}</h1>
  <p class="text-justify"> {{parrafo}} </p>
  <h2 class="text-justify">{{sub2titulo}}</h2>
  <h3> {{sub3titulo}} </h3>  
  <li>{{lista}}</li>
  <li>{{lista2}}</li>
  <li>{{lista3}}</li>
  <li>{{lista4}}</li>
  <li>{{lista5}}</li>
  <li>{{lista6}}</li>
  <li>{{lista7}}</li>
  <li>{{lista8}}</li>
  <li>{{lista9}}</li>
  <h3> {{sub3titulo2}} </h3>  
  <li>{{lista10}}</li>
  <li>{{lista11}}</li>
  <li>{{lista12}}</li>
  <li>{{lista13}}</li>
  <li>{{lista14}}</li>
  <li>{{lista15}}</li>
  <li>{{lista16}}</li>
  <li>{{lista17}}</li>
  <li>{{lista18}}</li>
  <li>{{lista19}}</li>
  <li>{{lista20}}</li>
  <h3> {{sub3titulo3}} </h3>  
  <p class="text-justify"> {{parrafo2}} </p>
  <h2 class="text-justify">{{sub2titulo2}}</h2>
  <p class="text-justify"> {{parrafo3}} </p>
  <div class="text-center">
    <picture >
      <img src="{{imagen}}" class="img-fluid" id="recuadro" alt="Responsive image">
    </picture>
  </div>
  
  
  <p class="text-justify"> {{parrafo4}} </p>
  <p class="text-justify"> {{parrafo5}} </p>
  <p class="text-justify"> {{parrafo6}} </p>
<h3> {{sub3titulo4}} </h3>  
<li>{{lista21}}</li>
<li>{{lista22}}</li>
  <p class="text-justify"> {{parrafo7}} </p>
  <h2 class="text-justify">{{sub2titulo3}}</h2>
  <p class="text-justify"> {{parrafo8}} </p>
  <p class="text-justify"> {{parrafo9}} </p>
  <h3> {{sub3titulo5}} </h3>
  <p class="text-justify"> {{parrafo10}} </p>
  <p class="text-justify"> {{parrafo11}} </p>
  <p class="text-justify"> {{parrafo12}} </p>
  <p class="text-justify"> {{parrafo13}} </p>
  <h3> {{sub3titulo6}} </h3>
  <p class="text-justify"> {{parrafo14}} </p>
  <p class="text-justify"> {{parrafo15}} </p>
  <li>{{lista23}}</li>
  <li>{{lista24}}</li>
  <li>{{lista25}}</li>
  <h2 class="text-justify">{{sub2titulo4}}</h2>
  <p class="text-justify"> {{parrafo16}} </p>
  <p class="text-justify"> {{parrafo17}} </p>

 

  <section class="d-flex justify-content-center">
    <blockquote class="blockquote text-center">
      <img src="{{imagen2}}" class="img-fluid" id= "recuadro" alt="Responsive image">
    <footer class="blockquote-footer">Fuente: <cite title="Source Title">{{fuente2p1}} <a href="{{enlace}}" target=”_blank”>{{fuente2p2}}</a>{{fuente2p3}}</cite></footer>
    </blockquote>
  </section>

  
  <p class="text-justify"> {{parrafo18}} </p>
  <h3> {{sub3titulo7}} </h3>
  <li>{{lista26}}</li>
  <li>{{lista27}}</li>
  <li>{{lista28}}</li>
  <p class="text-justify"> {{parrafo19}} </p>
  <p class="text-justify"> {{parrafo20}} </p>
  <p class="text-justify"> {{parrafo21}} </p>
  <h2 class="text-justify">{{sub2titulo5}}</h2>
  <p class="text-justify"> {{parrafo22}} </p>
  <p class="text-justify"> {{parrafo23}} </p>
  <p class="text-justify"> {{parrafo24}} </p>
  <p class="text-justify"> {{parrafo25}} </p>
  <p class="text-justify"> {{parrafo26}} </p>
  <p class="text-justify"> {{parrafo27}} </p>
  <p class="text-justify"> {{parrafo28}} </p>
  <p class="text-justify"> {{parrafo29}} </p>
  <p class="text-justify"> {{parrafo30}} </p>
  <h2 class="text-justify">{{sub2titulo6}}</h2>
  <p class="text-justify"> {{parrafo31}} </p>

</div>

 

  