<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/1a.jpg"  class="d-block w-100" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/1b.jpg" class="d-block w-100" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/2a.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/2a.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/2b.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3></h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/3 a Los días 1.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Los días</h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/3 b Las tardes.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Las tardes</h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/3 c El anocher.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>El anocher</h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/IMG_5035.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Caja de herramientas</h3>
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/IMG_6432.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/IMG-20160827-WA0011.jpg"  class="d-block w-100" alt="Random third slide">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./assets/img/imagenescarrusel/Luna de San Jorge/vacio.jpg"  class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Vacio</h3>
    </div>
  </ng-template>



</ngb-carousel>







