<ngb-tabset justify="fill">
  <ngb-tab title="Revisión bibliográfica">
    <ng-template ngbTabContent>
      <app-principios></app-principios>
    </ng-template>
  </ngb-tab>
    <ngb-tab title="Análisis de las Entrevistas">
      <ng-template ngbTabContent>
        <app-revisiondoc></app-revisiondoc>
      </ng-template>
    </ngb-tab>
  <ngb-tab title="Ejercicios complementarios">
    <ng-template ngbTabContent>
      <app-ejemplocaldeamiento></app-ejemplocaldeamiento>
    </ng-template>
  </ngb-tab>
</ngb-tabset>