<div class="container">
  
  
    <section class="d-flex justify-content-center">
      <blockquote class="blockquote text-center">
        <img src="{{imagen}}" class="img-fluid"  id="recuadro" alt="Responsive image">
      <footer class="blockquote-footer">Fuente: <cite title="Source Title">{{fuente}}</cite></footer>
      </blockquote>
    </section>
    
  
  <h1 class="text-justify">{{titulo}}</h1>
  <p class="text-justify"> {{parrafo}} </p>
  <p class="text-justify"> {{parrafo2}} </p>
  <p class="text-justify"> {{parrafo3}} </p>
  <p class="text-justify"> {{parrafo4}} </p>
  <p class="text-justify"> {{parrafo5}} </p>
  <p class="text-justify"> {{parrafo6}} </p>
  <p class="text-justify"> {{parrafo7}} </p>

  <section class="d-flex justify-content-center">
  <blockquote class="blockquote text-center">
    <img src="{{imagen2}}" class="img-fluid"  alt="Responsive image">
  <footer class="blockquote-footer">Fuente: <cite title="Source Title">{{fuente2}}</cite></footer>
  </blockquote>
</section>


  <p class="text-justify"> {{parrafo8}} </p>
  <p class="text-justify"> {{parrafo9}} </p>
  <p class="text-justify"> {{parrafo10}} </p>
  <p class="text-justify"> {{parrafo11}} </p>
  <p class="text-justify"> {{parrafo12}} </p>
  <p class="text-justify"> {{parrafo13}} </p>
  <p class="text-justify"> {{parrafo14}} </p>
  <p class="text-justify"> {{parrafo15}} </p>
  <h2> {{subtitulo}} </h2>  
  <p class="text-justify"> {{parrafo16}} </p>
  <p class="text-justify"> {{parrafo17}} </p>
  <p class="text-justify"> {{parrafo18}} </p>
  <h2> {{subtitulo2}} </h2>
  <p class="text-justify"> {{parrafo19}} </p>
  <p class="text-justify"> {{parrafo20}} </p>
  <p class="text-justify"> {{parrafo21}} </p>
  <p class="text-justify"> {{parrafo22}} </p>
  <p class="text-justify"> {{parrafo23}} </p>
  <h2> {{subtitulo3}} </h2>
  <p class="text-justify"> {{parrafo24}} </p>
  <p class="text-justify"> {{parrafo25}} </p>
  <p class="text-justify"> {{parrafo26}} </p>
  <p class="text-justify"> {{parrafo27}} </p>
  <p class="text-justify"> {{parrafo28}} </p>
  <h2> {{subtitulo4}} </h2>
  <p class="text-justify"> <span><strong>{{negrita}} </strong></span> {{parrafo29}} </p>
  <p class="text-justify"> {{parrafo30}} </p>
  <p class="text-justify"> {{parrafo31}} </p>
  <h3>{{subsub}}</h3>
  <p class="text-justify"> {{parrafo32}} </p>
  <p class="text-justify"> {{parrafo33}} </p>
  <p class="text-justify"> {{parrafo34}} </p>
  <p class="text-justify"> {{parrafo35}} </p>
  
  <p class="text-justify"><strong>{{negrita2}}</strong>  {{parrafo36}} </p>
  <p class="text-justify"> {{parrafo37}} </p>
  <p class="text-justify"> {{parrafo38}} </p>
  <h1 class="text-justify">{{titulo2}}</h1>
  
  <p class="text-justify"> {{parrafo39}} </p>

 <p class="text-justify"> <em>{{cita}} </em></p>
  
  <p class="text-justify"> {{parrafo40}} </p>
  <p class="text-justify"> {{parrafo41}} </p>
  <p class="text-justify"> {{parrafo42}} </p>
  <p class="text-justify"> {{parrafo43}} </p>
  <p class="text-justify"> {{parrafo44}} </p>
  <h1 class="text-justify">{{titulo3}}</h1>
  <p class="text-justify"> {{parrafo45}} </p>
  <h2> {{subtitulo5}} </h2>
  <li>{{itemlista}}</li>
  <li>{{itemlista2}}</li>
  <li>{{itemlista3}}</li>
</div>