

<ngb-tabset justify="fill">
  <ngb-tab title="{{subnombre1}}">
    <ng-template ngbTabContent>
      
      <app-tablaescuchartodooyejerciciosyrtmos></app-tablaescuchartodooyejerciciosyrtmos>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre2}} </ng-template>
    <ng-template ngbTabContent>
      
      <app-tablaescuchartodooyemelodia></app-tablaescuchartodooyemelodia>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre3}} </ng-template>
    <ng-template ngbTabContent>
        <app-tablaescuchartodooyesonido></app-tablaescuchartodooyesonido>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre4}} </ng-template>
    <ng-template ngbTabContent>
      <app-tablaescuchartodooyeritmorespiracion></app-tablaescuchartodooyeritmorespiracion>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>{{subnombre5}} </ng-template>
    <ng-template ngbTabContent>
        <app-tablaescuchartodooyeritmosinternos></app-tablaescuchartodooyeritmosinternos>
    </ng-template>
  </ngb-tab>

</ngb-tabset>