
<blockquote class="blockquote text-center">
<img src="{{imagen}}"  id="recuadro" class="img-fluid" alt="Responsive image">
<footer class="blockquote-footer">Fuente: <cite title="Source Title">{{fuente}}</cite></footer>
      </blockquote>

<h2 class="text-justify">{{subtitulo}}</h2>
<p class="text-justify"> {{parrafo}} </p>
<h2 class="text-justify">{{subtitulo2}}</h2>
<p class="text-justify"> {{parrafo2}} </p>
<p class="text-justify"> {{tabulacion}} </p>
<p class="text-justify"> {{titulotabla}} </p>

<blockquote class="blockquote text-center">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Actividad</th>			
        <th scope="col">Objetivos</th>
        <th scope="col">Asuntos</th>
        <th scope="col">Técnicas</th>
        <th scope="col">Materiales</th>
        <th scope="col">Tiempo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clasificacion of planificaInic; index as i">
        <th scope="row" > {{ i+1}}</th>
        <td  >{{ clasificacion.actividad}}</td>
        <td  >{{ clasificacion.objetivos}}</td>
        <td >
          <ul *ngFor="let lista of clasificacion.asuntos; index as i">
            <li>{{ lista}}</li>
          </ul>
        </td>
        <td >
          <ul *ngFor="let lista2 of clasificacion.tecnicas; index as i">
            <p >{{ i+1}}/ {{ lista2}}</p>
          </ul>
        </td>
        <td >
            <ul *ngFor="let lista3 of clasificacion.materiales; index as i">
              <p>{{ i+1}}/ {{ lista3}}</p>
            </ul>
        </td>
        <td  >{{ clasificacion.tiempo}}</td>
      </tr>
    </tbody>
  </table>
  <footer class="blockquote-footer">Fuente: <cite title="Source Title">{{fuente}}</cite></footer>
      </blockquote>

  
  <h2 class="text-justify">{{subtitulo3}}</h2>
  <p class="text-justify"> {{parrafo3}} </p>
  <p class="text-justify"> {{parrafo4}} </p>
  <p class="text-justify"> {{parrafo5}} </p>

  <h2 class="text-justify">{{subtitulo4}}</h2>
<p class="text-justify"> {{parrafo6}} </p>
<p class="text-justify"> {{parrafo7}} </p>
<p class="text-justify"> {{parrafo8}} </p>
<p class="text-justify"> {{parrafo9}} </p>
<p class="text-justify"> {{parrafo10}} </p>
<p class="text-justify"> {{parrafo11}} </p>
<p class="text-justify"> {{parrafo12}} </p>

<h2 class="text-justify">{{subtitulo5}}</h2>
<p class="text-justify"> {{parrafo13}} </p>
<p class="text-justify"> <strong>{{subsubtitulo}}</strong> {{parrafo14}} </p>
<p class="text-justify"> {{parrafo15}} </p>
<p class="text-justify"> <strong>{{subsubtitulo2}}</strong> {{parrafo16}} </p>
<p class="text-justify"> {{parrafo17}} </p>

<h2 class="text-justify">{{subtitulo6}}</h2>
<p class="text-justify"> {{parrafo18}} </p>
<p class="text-justify"> {{parrafo19}} </p>

<h2 class="text-justify">{{subtitulo7}}</h2>
<p class="text-justify"> {{parrafo20}} </p>
<p class="text-justify"> {{parrafo21}} </p>

<h2 class="text-justify">{{subtitulo8}}</h2>
<p class="text-justify"> {{parrafo22}} </p>
<p class="text-justify"> {{parrafo23}} </p>
<p class="text-justify"> {{parrafo24}} </p>

<h2 class="text-justify">{{subtitulo9}}</h2>
<p class="text-justify"> {{parrafo25}} </p>
<p class="text-justify"> {{parrafo26}} </p>
<p class="text-justify"> {{parrafo27}} </p>
<p class="text-justify"> {{parrafo28}} </p>

<h2 class="text-justify">{{subtitulo10}}</h2>
<p class="text-justify"> {{parrafo29}} </p>
<p class="text-justify"> {{parrafo30}} </p>

<h2 class="text-justify">{{subtitulo11}}</h2>
<p class="text-justify"> {{parrafo31}} </p>
<p class="text-justify"> {{parrafo32}} </p>

<h2 class="text-justify">{{subtitulo12}}</h2>
<p class="text-justify"> {{parrafo33}} </p>